.header {
  text-align: center;
  font-size: 24px;
  font-color: #243642;
  border-bottom: solid 1px;
}
.footer {
  text-align: center;
  font-size: 12px;
  font-color: #243642;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px;
}
.components {
  margin: 20px 100px;
}
.checkBoxComponents {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
