.header {
  text-align: center;
  font-size: 24px;
  color: #e2f1e7;
  background-color: #387478;
  padding: 10px 0px;
}
.footer {
  text-align: center;
  font-size: 10px;
  color: #e2f1e7;
  background-color: #387478;
  padding-top: 10px;
  padding-bottom: 10px;
}

.components {
  margin: 20px 100px;
}

.PCcomponents {
  margin: 20px 100px;
}
.SPcomponents {
  display: none;
}

.p {
  margin: 0px 50px;
  margin-bottom: 5px;
}
.checkBoxComponents {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
.checkBox {
  margin-right: 5px;
}
.checkBoxLabel {
  margin-left: 5px;
  font-size: 16px;
}

.dropDownComponents {
  margin: 20px 50px;
  display: flex;
}
.select {
  width: 150px;
  height: 30px;
  font-size: 16px;
}
.dropdown_p {
  margin-left: 10px;
  font-size: 14px;
}

.graph {
  padding: 10px;
  border: solid 1px #000;
}

@media (max-width: 767px) {
  .header {
    text-align: center;
    font-size: 18px;
    color: #e2f1e7;
    background-color: #387478;
    padding: 10px 0px;
  }
  .footer {
    text-align: center;
    font-size: 10px;
    color: #e2f1e7;
    background-color: #387478;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .components {
    margin: 20px auto;
  }

  .PCcomponents {
    display: none;
  }
  .SPcomponents {
    display: contents;
    margin: 20px auto;
  }

  .dropDownComponents {
    margin: 10px 20px;
    display: columns;
  }
  .select {
    width: 100pxpx;
    height: 20px;
    font-size: 14px;
  }

  .p {
    margin: 0px 20px;
    margin-bottom: 5px;
  }
  .checkBoxComponents {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  .checkBox {
    margin-right: 3px;
  }
  .checkBoxLabel {
    margin-left: 5px;
    font-size: 14px;
  }

  .graph {
    margin: 10px;
    padding: 10px;
    border: solid 1px #000;
  }
}
