.header {
  text-align: center;
  font-size: 24px;
  font-color: #243642;
  border-bottom: solid 1px;
}
.footer {
  text-align: center;
  font-size: 12px;
  font-color: #243642;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px;
}

.components {
  margin: 20px 100px;
}

.checkBoxComponents {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
.checkBox {
  margin-right: 5px;
}
.checkBoxLabel {
  margin-left: 5px;
  font-size: 18px;
}

.dropDownComponents {
  margin: 20px 50px;
}
.select {
  width: 100px;
  height: 30px;
  font-size: 16px;
}
